<a>
    @if (chainId === chainIds.SCROLL_SEPOLIA) {
        <img
            src="/icons/scroll-sepolia.svg"
            width="24"
            height="24"
            alt="Scroll Sepolia"
            title="Scroll Sepolia"
        />
    } @else if (chainId === chainIds.SCROLL) {
        <img
            src="/icons/scroll.svg"
            width="24"
            height="24"
            alt="Scroll Mainnet"
            title="Scroll Mainnet"
        />
    } @else {
        <img
            src="/icons/unsupported.svg"
            width="24"
            height="24"
            alt="Unsupported"
            title="Unsupported"
        />
    }
</a>
