.without-account,
.with-account {
    justify-content: center;
    display: flex;
    flex-direction: column;

    p {
        text-align: center;
    }

    button {
        align-self: center;
    }
}

.account-id {
    text-align: center;
    font-size: xx-large;
    border: #ffffff6c solid 1px;
}

.ka-ching {
    font-weight: bolder;
    color: #00ff9a;
}
