<div class="top-bar">
    <h1>Tipperoo</h1>

    @let hasAccount = hasAccount$ | async;
    @let accountId = accountId$ | async;
    @let balances = balances$ | async;
    @let connected = connected$ | async;

    @if (connected === true) {
        <app-asset-summary
            [hasAccount]="hasAccount ?? false"
            [accountId]="accountId ?? 0"
            [credits]="(balances ?? { credits: 0, eth: 0 }).credits"
            [eth]="(balances ?? { credits: 0, eth: 0 }).eth"
        >
        </app-asset-summary>
    }

    <a href="https://portal.scroll.io/bridge">Bridge ETH to Scroll</a>

    <app-connect-wallet></app-connect-wallet>
</div>
