<div class="top-bar">
    <div>
        <img src="/favicon.svg" width="32" height="32" alt="Logo" title="Tipperoo" />
        <h1>Tipperoo</h1>
    </div>

    @let hasAccount = hasAccount$ | async;
    @let accountId = accountId$ | async;
    @let balances = balances$ | async;
    @let connected = connected$ | async;
    @let activeNetwork = activeNetwork$ | async;

    @if (connected === true) {
        <app-asset-summary
            [hasAccount]="hasAccount ?? false"
            [accountId]="accountId ?? 0"
            [credits]="(balances ?? { credits: 0, native: 0 }).credits"
            [nativeBalance]="(balances ?? { credits: 0, native: 0 }).native"
            [nativeTokenSymbol]="activeNetwork?.nativeCurrency?.symbol ?? 'ETH'"
            [nativeTokenIcon]="activeNetwork?.nativeTokenIcon ?? null"
        >
        </app-asset-summary>

        @if (activeNetwork?.bridgeUrl) {
            <a [href]="activeNetwork!.bridgeUrl">
                Bridge {{ activeNetwork!.nativeCurrency.symbol }} to {{ activeNetwork!.name }}
            </a>
        }
    }

    <app-connect-wallet></app-connect-wallet>
</div>
