<div class="asset-summary">
    @if (hasAccount) {
    <div class="account-box">
        TIPPERACCT#{{ accountId }}
    </div>
    }

    <div class="credits-box">
        <img src="/icons/credits.svg" width="32" height="24" alt="Credits" title="Credits">
        <em>: &nbsp;</em>
        <span class="credits-amount">{{ credits }}</span>
    </div>
    <div class="eth-box">
        <img src="/icons/ethereum-asset.svg" width="32" height="24" alt="ETH" title="ETH">
        <em>: &nbsp;</em>
        <span class="eth-amount">{{ eth }}</span>
    </div>
</div>