<div class="asset-summary">
    @if (hasAccount) {
        <div class="account-box">TIPPERACCT#{{ accountId }}</div>
    }

    <div class="credits-box">
        <img src="/icons/credits.svg" width="24" height="16" alt="Credits" title="Credits" />
        &nbsp;
        <span class="credits-amount">{{ credits }}</span>
    </div>
    <div class="native-box">
        @if (nativeTokenIcon) {
            <img [src]="nativeTokenIcon" width="24" height="16" [alt]="nativeTokenSymbol" [title]="nativeTokenSymbol" />
        }
        &nbsp;
        <span class="native-amount">{{ nativeBalance }}</span>
    </div>
</div>
