:host {
    flex-grow: 1;
}

.asset-summary {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 1rem;
    margin-left: 1.75rem;
}

.account-box {
    padding-top: 0.25rem;
}

.credits-amount,
.eth-amount {
    font-size: 9pt;
}
