<div>
    <div>
        <span>Send Ethereum:</span>
        <div>
            <input
                #amountInput
                type="number"
                [max]="totalBalance"
                min="0"
                [disabled]="disable"
                id="SendEth_Amount"
                [(ngModel)]="amount"
                [value]="0"
            />
            <br />
            <p>A 0.875% TX fee applies.</p>
        </div>
    </div>
    <div>
        <span class="tipper-acct">TIPPERACCT# :</span>
        <input
            #accountInput
            type="number"
            min="1"
            [disabled]="disable"
            id="SendEth_ToAccount"
            [(ngModel)]="toAccount"
            [value]=""
        />
    </div>
    <div>
        <button
            type="button"
            class="btn btn-light"
            [disabled]="
                disable ||
                amount === 0 ||
                toAccount <= 0 ||
                amountInput.value === '' ||
                accountInput.value === ''
            "
            (click)="clickSend()"
        >
            Send Tip
        </button>
    </div>
</div>
